.student-box {
    background-color: #1a202c;
    border: 1px solid #1a202c;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}